body 
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(195 220 238 / 72%);
}
main img
{
    width: 225px;
    height: 200px;
    border-radius: 10px;
}
main
{
    max-width: 90%;
    width: 244px;
    margin: 0px auto;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 378px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
}

.scan
{font-size: 13px;
    color: rgb(104, 102, 102);
    max-width: 80%;
}

.invite
{
    text-align: center;
    font-weight: bold;
    max-width: 82%;
   font-size: 18px;
}